html {
	font-size: 1.2rem;
}
body {
	background: #2d2d2d;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.prompt {
	color: #cc99cc;
}
.prompt ~ .prompt {
	padding: 1.5rem 0 0.3125rem;
}
span {
	color: #ffcc66;
}
h1 {
	display: inline;
	font-size: 1rem;
	font-weight: normal;
	color: #f2777a;
}
.tree > ul {
	margin: 0;
	padding-left: 1rem;
	padding-right: 1rem;
}
ul {
	list-style: none;
	padding-left: 2.5rem;
	white-space: nowrap;
}
li {
	position: relative;
}
li::before,
li::after {
	content: "";
	position: absolute;
	left: -0.75rem;
}
li::before {
	border-top: 1px solid #6699cc;
	top: 0.75rem;
	width: 0.5rem;
}
li::after {
	border-left: 1px solid #6699cc;
	height: 100%;
	top: 0.25rem;
}
li:last-child::after {
	height: 0.5rem;
}
a {
	font-size: 1rem;
	color: #99cc99;
	text-decoration: none;
	outline: none;
}
a:hover {
	color: #ffcc66;
}
form h1 {
	width: 125px;
	text-align: right;
	display: inline-block;
}
input {
	font-size: 0.8rem;
	color: #999999;
	background-color: #2d2d2d;
	border: 1px solid #6699cc;
	border-radius: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.column {
	flex: 50%;
	padding: 5px;
}
.row {
	display: flex;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
@media screen and (max-width: 715px) {
	input {
		width: 170px;
	}
}
